footer {
  font-size: 22px;
  text-align: center;
  color: #e94822;
  margin-top: 30px;
  font-family: "Amatic SC", cursive;
  text-shadow: 5px 4px 10px rgba(245, 92, 16, 0.6);
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.units a {
  pointer-events: auto;
}

.units a.active {
  pointer-events: none;
}

.mainInfo {
  border: 5px double #f57b51;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 38px;
  margin-top: 10px;
  font-family: "Manrope", sans-serif;
  background: linear-gradient(-225deg, #65379b 0%, #886aea 53%, #6457c6 100%);
  color: #bae8e8;
  box-shadow: 10px 10px 22px 5px rgba(216, 68, 68, 0.2);
}

.col {
  height: 175px;
  border: 3px solid #4e4e6a;
  width: 50px;
  background: linear-gradient(
    171.8deg,
    rgb(238, 156, 167) 13.8%,
    rgb(246, 204, 162) 82.6%
  );
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 22px;
}

.emoji {
  font-size: 35px;
}
.icon {
  font-size: 20px;
}

.github {
  color: #ff0000;
}

.weather-forecast-temperature-min {
  color: #4e4e6a;
  padding: 5px;
}

.weather-forecast-temperature-max {
  padding: 5px;
}
